<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS3K.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <POS3K.Properties.Settings>
            <setting name="DBF" serializeAs="String">
                <value>C:\Registan\POS\Bases</value>
            </setting>
            <setting name="TAX" serializeAs="String">
                <value>D:\datafile.tax</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>OOO STORE PLUS</value>
            </setting>
            <setting name="CompanyAddress" serializeAs="String">
                <value>M.Baraka, 2 INN  301526031</value>
            </setting>
            <setting name="INN" serializeAs="String">
                <value>000301526031</value>
            </setting>
            <setting name="SerialNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="POSNumber" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="VAT" serializeAs="String">
                <value>D:\datafile.vat</value>
            </setting>
            <setting name="InPath" serializeAs="String">
                <value>C:\Registan\POS\In</value>
            </setting>
            <setting name="RegularFont" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="BoldFont" serializeAs="String">
                <value>103</value>
            </setting>
            <setting name="btn1Barcode" serializeAs="String">
                <value>СБРОС</value>
            </setting>
            <setting name="btn2Barcode" serializeAs="String">
                <value />
            </setting>
            <setting name="btn3Barcode" serializeAs="String">
                <value />
            </setting>
            <setting name="btn4Barcode" serializeAs="String">
                <value>21080951</value>
            </setting>
            <setting name="btn5Barcode" serializeAs="String">
                <value>47800922</value>
            </setting>
            <setting name="btn6Barcode" serializeAs="String">
                <value>25002270</value>
            </setting>
            <setting name="btn7Barcode" serializeAs="String">
                <value>4780019650033</value>
            </setting>
            <setting name="btn8Barcode" serializeAs="String">
                <value>28005513</value>
            </setting>
            <setting name="btn9Barcode" serializeAs="String">
                <value />
            </setting>
            <setting name="btn10Barcode" serializeAs="String">
                <value>28007562</value>
            </setting>
            <setting name="btn11Barcode" serializeAs="String">
                <value>28008888</value>
            </setting>
            <setting name="btn12Barcode" serializeAs="String">
                <value>27001912</value>
            </setting>
            <setting name="btn13Barcode" serializeAs="String">
                <value>47801073</value>
            </setting>
            <setting name="btn14Barcode" serializeAs="String">
                <value>22355080</value>
            </setting>
            <setting name="btn15Barcode" serializeAs="String">
                <value>21004834</value>
            </setting>
            <setting name="btn16Barcode" serializeAs="String">
                <value>28000952</value>
            </setting>
            <setting name="btn17Barcode" serializeAs="String">
                <value />
            </setting>
            <setting name="btn18Barcode" serializeAs="String">
                <value>21003936</value>
            </setting>
            <setting name="btn19Barcode" serializeAs="String">
                <value>21011641</value>
            </setting>
            <setting name="btn20Barcode" serializeAs="String">
                <value>21011979</value>
            </setting>
            <setting name="LoyaltyPath" serializeAs="String">
                <value>C:\Registan\POS\Loyal</value>
            </setting>
            <setting name="POSName" serializeAs="String">
                <value />
            </setting>
            <setting name="SymbolsPerLine" serializeAs="String">
                <value />
            </setting>
            <setting name="UseShaderInAutonomode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayCodePage" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSystemTone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWindowsDriverForPrinting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeftMargin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RightMargin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DescriptionWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SumWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SalesOutPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SalesOutBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseOPOSScanner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShutDownTime" serializeAs="String">
                <value />
            </setting>
        </POS3K.Properties.Settings>
    </userSettings>
</configuration>
